/* a{
    
} */
#test a{
    text-decoration:none;
    color:black;
}
#navbar{
    border-bottom: 2px solid black;
    margin:0;
    padding:0px 16px;
    top:0;
    right:0;
    left:0;
    position:fixed;
    background-color: white;
    height:80px;
    font-size: 1.25em;
    font-weight:bold;
    display:block;
}
#in-ul{
    display:flex;
}
ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
main{
    margin-top:5%;
    text-align: center;
    width:75%;
    border: 3px solid black;
    margin: 0 auto;
}
img{
    width:50%;
}
#heading-2{
    font-size: 150px;
    padding-bottom:0;
}
form{
    margin:0 auto;
    width:40%;
}
*{
    box-sizing: border-box;
}
footer{
    display:flex;
    justify-content: center;
    bottom:0;
    left:0;
    right:0;
    background:black;
    color:white;
    margin:0;
    flex-direction: column;
}
footer a{
    color:white;
}
#h3{
    text-align:center;
    bottom:0;
    left:0;
    right:0;
    background:black;
    color:white;
}
#move{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width:10px;
}
#test{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.move{
    margin:20px;
    font-family: Archivo, sans-serif;
}
#ul-in-footer a{
    
    margin:0;
    padding:0;
    bottom:0;
    font-weight: bold;
}
#heading-2{
    margin-bottom:0;
    font-family:sans-serif;
}
#heading-3{
    margin-top:0;
    font-size: 1.25em;
}
#nav-links a{
    font-weight: bold;
    text-decoration: underline;
    color:black;
}
#heading-1{
    text-decoration: none;
    color:black;
    border:none;
}
#width-change{
    width:20%;
    margin-left:40%;
    text-align: center;
}
img{
    box-sizing: border-box;
    margin:20px;
}
.nav-links a{
    font-size: 1.25em;
    margin-bottom: 10px;
    color:black;
    font-weight: bold;
}
#un-list-1{
    float:left;
}
#un-list-1 li{
    list-style-type: disc;
    display:flex;
    flex-direction: column;
}
